<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Datafloor Login</title>
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/bulma.css' %}">
</head>
<body>
<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
        <div class="container has-text-centered" >
            <h1   class="title" style="font-size: 5.5em ; font-family: Roboto ;color: whitesmoke">
                <strong>D</strong>ata <strong>F</strong>loor
            </h1>

        </div>

    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4 is-offset-4" style="min-width: 300px ; height: auto">
                    {% csrf_token %}
                    <h1 class="title">
                        Login
                    </h1>
                    <div class="box" >
                        <form action="/login" method="POST">
                        <label class="label">Email</label>
                        <p class="control">
                             <input class="input" type="email" name="email"  placeholder="vader@firstorder.org">
                        </p>
                        <label class="label">Password</label>
                        <p class="control">
                            {% csrf_token %}
                            <input class="input" type="password" name="password" placeholder="Password">
                        </p>
                        <hr>
                        <p class="control">
                            <input class="button is-primary" type="submit" name="submit" value="Log In">
                        </p>
                            <p style="color: #D36060 ; font-variant: all-petite-caps" align="center" >{{ error }}</p>
                        </form>
                    </div>
                    <p class="has-text-centered">
                        <a href="/signup">Register an Account</a>
                        |
                        <a href="#">Need help?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
